.signup-menu-wrapper {
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    background-color:grey;
}
/* This is for step icon */
svg.MuiSvgIcon-root.Mui-active, svg.MuiSvgIcon-root.Mui-completed {
    color:#00B69A;
}
.signup-form {
    padding:1em;
    max-width:100vw;
    height:100%;
}
.login-ruler {
    color:white;
    margin-left:10%;
    margin-right:10%;
}
div.single-line-text {
    display:grid;
    grid-template-rows: 1 1;
    row-gap: 0.5em;
    padding-left:15%;
    padding-right:15%;
}

@media (max-width: 460px) {
    .login-ruler {
        margin-left:1em;
        margin-right:1em;
    }
    .signup-form {
        padding:1em;
    }
    div.single-line-text {
        padding-left:0;
        padding-right:0;
    }
}
