.signup-menu-wrapper {
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    background-color:#505378;
}
svg.MuiSvgIcon-root.Mui-active, svg.MuiSvgIcon-root.Mui-completed {
    color:#00B69A;
}
.signup-form {
    background-color:#1E1E1E;
    padding:1em;
    max-width:100vw;
    height:100%;
}
.login-ruler {
    color:white;
    margin-left:10%;
    margin-right:10%;
}

div.email-submission {
    display:grid;
    grid-template-rows: 1 1;
    row-gap: 0.5em;
    padding-left:15%;
    padding-right:15%;
}
div.password-submission {
    display:grid;
    grid-template-rows: 1 1;
    row-gap: 0.5em;
    padding-left:15%;
    padding-right:15%;
}
div.profile-details-submission {
    display:grid;
    grid-template-rows: 1 1;
    row-gap: 0.5em;
    padding-left:15%;
    padding-right:15%;
}
div.display-name-submission {
    display:grid;
    grid-template-rows: 1 1;
    row-gap: 0.5em;
    padding-left:15%;
    padding-right:15%;
}

.display-name-submission {
    color:white;
}

@media (max-width: 460px) {
    .login-ruler {
        margin-left:1em;
        margin-right:1em;
    }
    .signup-form {
        padding:1em;
    }
    div.email-submission {
        padding-left:0;
        padding-right:0;
    }
    div.password-submission {
        padding-left:0;
        padding-right:0;
    }
    div.profile-details-submission {
        padding-left:0;
        padding-right:0;
    }
    div.display-name-submission {
        padding-left:0;
        padding-right:0;
    }
}