/* This section deals with search space defaults */
.home-search-spacing-wrapper {
    margin:1em;
    padding:1em;
}
.generic-search-bar {
    grid-template-columns: calc(100% - 5em) 5em;
    display:grid;
}
.generic-search-bar-button {
    text-align: center;
    display:grid;
    grid-template-rows: 1fr;
    align-items:center;
}

/* Set mid size-screen properties */
@media (max-width: 880px) {
    .generic-search-bar {
        display:grid;
        grid-template-columns: 8fr 1fr;
    }
    .generic-search-bar-button {
        padding:0;
        margin:0em;
    }
}

/* Setting small screen size properties */
@media (max-width: 460px) {
    .generic-search-bar {
        grid-template-columns: 1fr;
    }
    .generic-search-bar-button {
        display:none;
    }
}
