.login-form {
    padding:1em;
    max-width:100vw;
}
.login-ruler {
    color:white;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:2em;
}

.standard-login {
    padding-left:15%;
    padding-right:15%;
    display:grid;
    grid-template-rows: 1 1 1;
    row-gap: 0.5em;
    padding-bottom:1em;
}

.submit-section {
    padding-left:20%;
    padding-right:20%;
    display:grid;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr;
}

button.login {  
    grid-column: 1;
}
button.signup {
    grid-column:2;
}
button.signup:hover {
    grid-column:2;
    opacity: 90%;
}

@media (max-width: 460px) {
    .login-ruler {
        margin-left:2em;
        margin-right:2em;
    }
    .standard-login {
        padding-left:0.5em;
        padding-right:0.5em;
    }
    .submit-section {
        padding-left:1.5em;
        padding-right:1.5em;
    }
}
